<strong>Gejala 2</strong>
<div class="form-group">
  <p>Sakit kepala karena mata bekerja secara berlebihan?</p>
  <div class="col-md-3">
    <input type="radio" class="radio-control" data-ng-model="vm.ask.g02" value="Y" id="L"> 
    <label for="L" style="font-weight: normal;">Ya</label>
  </div>
  <div class="col-md-3">
    <input type="radio" class="radio-control" data-ng-model="vm.ask.g02" value="N" id="P">
    <label for="P" style="font-weight: normal;">Tidak</label>
  </div>
</div>